<h1>Listing difficulties</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Digits</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @difficulties.each do |difficulty| %>
  <tr>
    <td><%= difficulty.name %></td>
    <td><%= difficulty.digits %></td>
    <td><%= link_to 'Show', difficulty %></td>
    <td><%= link_to 'Edit', edit_difficulty_path(difficulty) %></td>
    <td><%= link_to 'Destroy', difficulty, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Difficulty', new_difficulty_path %>
